<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.erasmus.bz/x400/xrpgle/xtext/XRPGLE"
			class = "bz.erasmus.x400.xrpgle.xtext.xRPGLE.XRPGLEPackage"
			genModel = "model/generated/XRPGLE.genmodel" />
	</extension>
</plugin>
